*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: rgb(232, 232, 232);
  }

  .container{
   display: grid;
   margin: 2rem 10rem;
   grid-gap: 2rem;
   grid-template-areas: 'header header header header header'  
   'aside main main main main'
   ;
  }
  #header{
    grid-area: header;
  }
  #main{
   grid-area: main;
  }
 #aside{
 grid-area: aside;
 height: fit-content;
 background: #fff;
 max-width: 200px;
 }

 .row{
 width: 100%;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 12px;
}
 .card-01{
 margin: 10px;
 border-radius: 5px;
 min-width: 185px;

}
.fildiv{
 width: 35%;
 border-radius: 3px;
 text-align: center;
 height: 18px;
 background: #10c710a1;
 font-size: 11px;
 padding: 3px;
}
.sidebar p{
 font-size: 12px;
   padding: 5px;
   color: #585656;
   text-align: center;
}
hr {
   width: 80%;
   margin: 5px 15px;
   border: 1px solid #e8e8e8;
}
.card {
   background-color: #fff;
   height: 20rem;
   border-radius: 5px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   font-weight: 700;
   text-align: start;
   min-width: 166px;
}
.card h5 {
   color: #1a8cff;
   font-size: 15px;
}
.card-01 span {
   font-size: 12px;
   padding: 0;
   color: #585656;
}
.card_info{
 padding: 16px;
   font-size: 12px;
   line-height: 22px;
}
/* new css*/
.grid { 
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
 grid-gap: 20px;
 align-items: stretch;
 }
.grid > article {
 border: 1px solid #ccc;
 box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
 height: 50%;
 width: 100%;
 max-width: 100%;
 border-radius: 5%;
 border: 10px solid #f5f5f5
}


 @media only screen and (max-width: 900) {
   .card {height: 23rem;}
   .grid {
   grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
   }
 }
 @media only screen and (max-width: 769px) {
   .container {
   margin: 2rem 4rem;
   grid-template-areas:
       'header header header '
       'aside main main ';
}
 
 }
 @media only screen and (max-width: 415px) {
   .container{
   display: grid;
   grid-gap: 2rem;
   width: 100%;
   margin: 0;
   padding: 20px;
   grid-template-areas: 'header '  
   'aside '
   'main' 
   ;
  }
  .card-01 {
   max-width: 328px;
   margin: 17px;
   border-radius: 5px;
}
 .grid {
   grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
 }
   #aside {
   max-width: 100%;
 }
 .card h5 {
   font-size: 22px;
  }
  .grid > article img {
   height: 60%;
   width: 100%;
   }
   .card {height: 30rem;}
   .card_info {
   padding: 16px;
   font-size: 15px;
   line-height: 29px;
 }
}